#requestInspection {
  width: 100vw;
  min-height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  background-attachment: fixed;
  position: relative;
}

.requestInspection {
  position:absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}

#requestInspection .requestInspection.card {
  min-width:500px !important;
}

