#login {
  width: 100vw;
  height: 76vh;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  background-attachment: fixed;
  position: relative;
}

.login {
  position:absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}

#login .login.card {
  min-width:300px !important;
}

